<div class='row center'>
			<a href='/' style='text-align:left' class='btn-group col-md-6 col-sm-6 col-lg-6 col-xs-6'>
				<button class='btn-transparent'><img id='prof-pic' src='/images/profile_picture.png'></img></button>
				<button class='btn-transparent'><h2 style='margin-top: 2vmin; text-align: left;'>Sarah Shader</h2></button>
			</a>
  <div class='dropdown col-md-2 col-sm-2 col-lg-2 col-xs-2'>
    <a class='btn center dropdown-toggle col-md-12 col-sm-12 col-lg-12 col-xs-12' id='myprojects' data-toggle='dropdown' aria-haspopup="true" aria-expanded="true">My Projects<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby='myprojects'>
      <li><a href="/psetbuddies">Pset Buddies</a></li>
      <li><a href="/rsi">Research Science Institute</a></li>
      <li><a href='https://www.youtube.com/watch?v=da7OgMkI_RM' target='_blank'>Weighted Catalan Numbers</a></li>
      <!--<li role="separator" class="divider"></li>
      <li><a href="#">Just for fun!</a></li>-->
    </ul>
  </div>
	<div class='col-md-2 col-sm-2 col-lg-2 col-xs-2'>
		<a href='/experience' class='btn col-md-12 col-sm-12 col-lg-12 col-xs-12'>My Experience</a>
	</div>
	<div class='col-md-2 col-sm-2 col-lg-2 col-xs-2'>
		<a href='/contact' class='btn col-md-12 col-sm-12 col-lg-12 col-xs-12'>Contact Me</a>
	</div>
</div>

<div class='row grey-text-box'>
	<h2>My classes:</h2>
	<p>
		<div class='col-md-6 col-sm-6 col-lg-6 col-xs-6'>
			Current classes:
			<ul class='bullet'>
				<li>Inference and Information (6.437)</li>
				<li>Advanced Algorithms (6.854)</li>
				<li>Network and Computer Security (6.857)</li>
				<li>Computer System Engineering (6.033)</li>
				<li>Oral Communication (6.UAT)</li>
			</ul>
		</div>
		<div class='col-md-6 col-sm-6 col-lg-6 col-xs-6'>
			Past classes:
			<ul class='bullet'>
				<li>Elements of Software Construction (6.005)</li>
				<li>Advanced Algorithms (6.046)</li>
				<li>Introduction to Machine Learning (6.036)</li>
				<li>Introduction to Probability and Random Variables (18.440)</li>
				<li>Computation Structures (6.004)</li>
			</ul>
		</div>
	</p>
</div>

<div class='row'>
	<div class='col-md-4 col-sm-12 col-lg-4 col-xs-12'>
		<div class='width'>
			<h2><a href='/psetbuddies'>Pset Buddies</a></h2>
			Created a <a class='underline' href='http://psetbuddies.herokuapp.com' target='_blank'> web app</a> for MIT students to match with fellow students in their classes based on progress on problem sets.
			<ul class='bullet'>
				<li>Semifinalist for the 6.148 Web App Competition Rookie Division</li>
				<li>Backend technologies: Node.js and MongoDB</li>
				<li>Frontend technologies: Bootstrap and Express/Handlebars</li>
			</ul>
		</div>
	</div>
	<div class='col-md-4 col-sm-12 col-lg-4 col-xs-12'>
		<div class='width'>
			<h2><a href='/rsi'>Research Science Institute Counselor</a></h2>
			Selected based on leadership abilities and academic excellence to be one of six counselor.
			<ul class='bullet'>
				<li>Coordinated events for 90+ people</li>
				<li>Designed a "summerbook" using Adobe Indesign</li>
				<li>Handled high stress and time sensitive situations on a daily basis</li>
			</ul>
		</div>
	</div>
	<div class='col-md-4 col-sm-12 col-lg-4 col-xs-12'>
		<div class='width'>
			<h2><a href='https://www.youtube.com/watch?v=da7OgMkI_RM' target='_blank'>Weighted Catalan Numbers</a></h2>
			Conducted mathematical research under an MIT graduate student and partially resolved an open problem in enumerative combinatorics.
			<ul class='bullet'>
				<li>Click <a class='underline' href='https://www.youtube.com/watch?v=da7OgMkI_RM' target='_blank'>here</a> to see a video summing up my research</li>
				<li>Currently pursuing publication</li>
				<li>My results can be found <a class='underline'href='https://math.mit.edu/research/highschool/rsi/documents/2013Shader.pdf' target='_blank'>here</a></li>
			</ul>
		</div>
	</div>
</div>