
<div class='row center'>
	<div class='col-md-6 col-sm-6 col-lg-6 col-xs-6'>
	</div>
  <div class='dropdown col-md-2 col-sm-2 col-lg-2 col-xs-2'>
    <a class='btn center dropdown-toggle col-md-12 col-sm-12 col-lg-12 col-xs-12' id='myprojects' data-toggle='dropdown' aria-haspopup="true" aria-expanded="true">My Projects<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby='myprojects'>
      <li><a href="/psetbuddies">Pset Buddies</a></li>
      <li><a href="/rsi">Research Science Institute</a></li>
      <li><a href='https://www.youtube.com/watch?v=da7OgMkI_RM' target='_blank'>Weighted Catalan Numbers</a></li>
      <!--<li role="separator" class="divider"></li>
      <li><a href="#">Just for fun!</a></li>-->
    </ul>
  </div>
	<div class='col-md-2 col-sm-2 col-lg-2 col-xs-2'>
		<a href='/experience' class='btn col-md-12 col-sm-12 col-lg-12 col-xs-12'>My Experience</a>
	</div>
	<div class='col-md-2 col-sm-2 col-lg-2 col-xs-2'>
		<a href='/contact' class='btn col-md-12 col-sm-12 col-lg-12 col-xs-12'>Contact Me</a>
	</div>
</div>

<div class='row'>
	<div class='col-md-6 col-xs-8 col-sm-8 col-lg-6'>
		<div class='text-box'>
			<h1 class='big-name'>{{title}}</h1>
		</div>
		<div class='text-box'>
			<h1>About me</h1>
			<p>I'm a sophomore at MIT studying computer science and math. I want to explore the intersection of math and computer science, and I want to create something that benefits others. When not in class, I'm an avid knitter, occasional foodie, and amateur ukulele player.</p>
		</div>
		<div class='text-box'>
			<h1>Want to know more?</h1>
			<h1 class='row center'>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<a href='/files/16_01_31_resume.pdf' target='_blank'><i class="student icon"></i></a>
				</div>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<a href='mailto:sshader@mit.edu'><i class="mail icon"></i></a>
				</div>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<a href='https://github.mit.edu/sshader' target='_blank'><i class="github icon"></i></a>
				</div>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<a href='http://linkedin.com/in/sarahshader' target='_blank'><i class="linkedin square icon"></i></a>
				</div>
			</h1>
			<div class='row center'>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<label>Résumé</label>
				</div>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<label>Email</label>
				</div>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<label>Github</label>
				</div>
				<div class='col-md-3 col-sm-3 col-lg-3 col-xs-3'>
					<label>LinkedIn</label>
				</div>
			</h1>
	</div>
</div>
