<div class='row center'>
      <a href='/' style='text-align:left' class='btn-group col-md-6 col-sm-6 col-lg-6 col-xs-6'>
        <button class='btn-transparent'><img id='prof-pic' src='/images/profile_picture.png'></img></button>
        <button class='btn-transparent'><h2 style='margin-top: 2vmin; text-align: left;'>Sarah Shader</h2></button>
      </a>
  <div class='dropdown col-md-2 col-sm-2 col-lg-2 col-xs-2'>
    <a class='btn center dropdown-toggle col-md-12 col-sm-12 col-lg-12 col-xs-12' id='myprojects' data-toggle='dropdown' aria-haspopup="true" aria-expanded="true">My Projects<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby='myprojects'>
      <li><a href="/psetbuddies">Pset Buddies</a></li>
      <li><a href="/rsi">Research Science Institute</a></li>
      <li><a href='https://www.youtube.com/watch?v=da7OgMkI_RM' target='_blank'>Weighted Catalan Numbers</a></li>
      <!--<li role="separator" class="divider"></li>
      <li><a href="#">Just for fun!</a></li>-->
    </ul>
  </div>
  <div class='col-md-2 col-sm-2 col-lg-2 col-xs-2'>
    <a href='/experience' class='btn col-md-12 col-sm-12 col-lg-12 col-xs-12'>My Experience</a>
  </div>
  <div class='col-md-2 col-sm-2 col-lg-2 col-xs-2'>
    <a href='/contact' class='btn col-md-12 col-sm-12 col-lg-12 col-xs-12'>Contact Me</a>
  </div>

  <div class='container' style='margin-top:10vmin'>
    <h1 class='grey-text-box'><a href='https://www.cee.org/research-science-institute' target='_blank'>Research Science Institute</a> 2015 &ndash; Counselor</h1>
    <div class='row grey-text-box'>
      <img style='margin-bottom:2vmin' class='col-md-8 col-sm-8 col-lg-8 col-xs-12' src='/images/rsi_all.png'>
      <div class='col-md-4 col-sm-4 col-lg-4 col-xs-12'>
        <p style='text-align:left'>I had the pleasure of being part of the staff for the incredible six-week-long <a href='https://www.cee.org/research-science-institute' target='_blank'>Research Science Institute</a>.
        <br>
        I took care of these 84 incredible high school students as they spent their summer at MIT as part of RSI.
        <br>
        From spending 40 consecutive hours awake while camping out on the Fourth of July to creating the RSI "<a href='#' class='underline' id='summerbook'>summerbook,</a>" being a counselor was one of the hardest and most rewarding experiences I have ever had.
      </div>
    </div>
  <div>
</div>

<div id='coverModal' class="ui modal">
  <i style='color:#999; font-size: 5vmin;' class="remove icon"></i>
  <div class="header">
    Summerbook Cover:
  </div>
  <div class="image content">
    <div class="image center">
      <img src='/images/cover.png'>
    </div>
  </div>
</div>